<div class="container">
    <div class="title-container"><h1 class="title">Lista de Cirugias</h1></div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> idcirugias </th>
            <td mat-cell *matCellDef="let element"> {{element.idcirugias}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Descripcioncirugias">
            <th mat-header-cell *matHeaderCellDef> descripcioncirugias </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionCirugias}} </td>
          </ng-container>
        
            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
  </div>