.title-container {
  text-align: center;
  margin-bottom: 40px; /* Increase the margin-bottom to move the title lower */
  margin-top: 60px; /* Add a margin-top to further position it down the page */
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #333;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  margin-bottom: 24px;
}

.actions {
  display: flex;
  gap: 12px;
  padding-bottom: 12px;
}

.container button {
  background-color: #3a3636;
  color: #fff;
  font-size: 12px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button:disabled {
  background-color: #d3d3d3;
  color: #fff;
  cursor: not-allowed;
}
